@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Syne', sans-serif;
  outline: none;
}

.scrollbar::-webkit-scrollbar {
  display: none;
  background-color: transparent;
}

.linear-gradient {
  background-image: linear-gradient(
    to right,
    rgb(2, 2, 2, 0.6),
    rgba(5, 5, 5, 0.6)
  );
}

.display::-webkit-scrollbar {
  display: none;
  background-color: transparent;
}

@media (max-width: 768px) {
  .bgNavbar {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.8),
        rgba(0, 0, 0, 0.8)
      ),
      url('./Assets/images/hero-image-03.jpg');
    opacity: 0.97;
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
  }

  .subscribeMobile {
    background-image: url('./Assets/images/subscribe-image-mobile.jpg');
  }
}
